// Placeholders
%auto-center {
  margin-left: auto;
  margin-right: auto;
}

%reset-all-space {
  margin: 0 auto;
  padding: 0;
}

%remove-bootstrap-side-padding {
  margin-left: -15px;
  margin-right: -15px;
}
