$font-stack: "Helvetica Neue", arial, sans-serif;
$primary-color: #000;
$secondary-color: #FFF;
$primary-background: #FFF;
$accent-background: #4D91BF;
$form-background: #F7F7F7;
$input-background: #E0E0E0;
$error-background: #ffbfbf;
$success-accent: #dff0d8;
$error-accent: #C30000;
$success-accent-border: #2ecc71;
$error-accent-border: #900;
$input-border: #4D91BF;
$reset-space: 0;
$half-size: 50%;
$full-size: 100%;
$small-amount: 10px;
$med-amount: 20px;
