html { font-size: 62.5%; }
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  font: 1.6rem/1.25 $font-stack;
}


////////////////
// Nav Styles //
////////////////
.navbar {
  font-size: 14px;
}

@media only screen and (min-width : 826px) {
  .navbar {
    font-size: 1px;
  }
}

@media only screen and (min-width : 826px) {
  .navbar {
    font-size: 20px;
  }
}

///////////////////
// Header Styles //
///////////////////
header img {
  width: 100px;
  height: 100px;
}

header h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2rem;
}

h2 {
  background: #4D91BF;
  font-weight: bold;
  padding: 2rem 0;
}

h2:first-of-type {
  margin-top: 0;
}

section {
  text-align: center;

  h2 {
    color: #FFF;
    font-size: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

h3 {
  font-size: 27px;
  font-weight: bold;
}

@media only screen and (min-width : 460px) {
  header h1 {
    font-size: 42px;
    padding-bottom: 1rem;
  }

  section h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 32px;
    font-weight: bold;
  }

}

//////////////////
// Other Styles //
//////////////////
.custom-icon {
  width: 50px;
  height: 50px;
}

.readMoreBtn {
  background: #4D91BF;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

////////////////////////////
// Index.html Page Styles //
////////////////////////////
#loginPage h1 {
 color: #000;
 text-transform: uppercase;
}

#loginPage img {
  width: 300px;
  height: 300px;
  margin-top: 8rem;
}

#loginPage form {

  input {
    height: 4rem;
    font-size: 32px;
    margin: 2rem 0;
  }
}

#loginPage p {
  color: #4D91BF;
  margin: 2rem 0;
}

#landingPageBtns {
  margin-bottom: 2rem;
}

#loginBtn {
  background: #4D91BF;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;

}

#createBtn {
  background: #9C9CA8;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
}

#login {
  background: yellow;
}

///////////////////////////////////////
// Home.html Page Styles & Sub-Pages //
///////////////////////////////////////
#homePage {
  background: #4D91BF;
  position: relative;

  h1 {
    background: #EEE;
    margin-bottom: 0;
    padding: 2rem 0;
  }

  h2 {
    margin: 0 0 0 0;
  }

  section input {
    background: #EEE;
    border-color: #000;
  }
}

#homePage input::placeholder {
  color: #95989A;
}

#all-list-content {
  float: right;
  border: 2px solid #EEE;
  padding: 0;
  margin: 5rem 0;
}

div.remove {
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  color: red;
}

@media only screen and (min-width : 768px) {
  #all-list-content {
    width: 80%;
    margin: 0 0 5rem 0;
  }
}

.listContentContainer {
  background: #EEE;
  padding: 0;
}

.contentList.container {
  padding: 0 0 5px 0;
}

#overview-list-content {
  @extend %remove-bootstrap-side-padding;
}

#appointment-list-content {
  @extend %remove-bootstrap-side-padding;
}

#to-do-list-content {
  @extend %remove-bootstrap-side-padding;
}
#shopping-list-content {
  @extend %remove-bootstrap-side-padding;
}
#notes-list-content {
  @extend %remove-bootstrap-side-padding;
}


#sm-screen-sub-nav {
  background: #EEE;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-right: 20px;
}


#side-nav-bar {
  background: #EEE;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  margin-right: 20px;
}

///////////////////////////////
// Calendar.html Page Styles //
///////////////////////////////
#add-event-btn {
  margin: 2rem auto;
  background: #4D91BF;
}

#calender-wrapper {
  background: #4D91BF;
  margin-bottom: 5rem;
}

#addEventModal label,
#addEventModal input {
  display: block;
}

#addEventModal .lSideLabel {
  margin: 0 0 0 0;
}
#addEventModal .lSideInput {
  margin: 0 0 0 0;
}
#addEventModal .rSideLabel {
  margin: 0 0 0 0;
}
#addEventModal .rSideInput {
  margin: 0 0 0 0;
}

#addEventModal .add-new-event-btn {
  background: #4D91BF;
}

@media only screen and (min-width : 765px) {
  #addEventModal input:not(.different) {
    margin-top: 12px;
  }
}

////////////////////////////
// Notes.html Page Styles //
////////////////////////////
#notesPage {
  @extend %reset-all-space;
}

#notesPage h2 {
  margin: 0 0 0 0;
}

#notesPage h2:last-of-type {
  margin-top: 1.5rem;
}

#inputMessage {
  margin-bottom: 1.5rem;
}

#savedNotes {
  width: 100%;
  margin: -1rem 0 0 -4rem;

  li {
    width: calc(100% + 40px);
    text-transform: capitalize;
    text-align: left;
    list-style: none;
    padding: 2rem 0 2rem 1.5rem;
    border-bottom: 1px solid black;

    span {
      float: right;
      margin: -1rem 1.5rem 0 0;
    }
  }
}

#notesPage .empty-space {
  height: 3rem;
  background: #4D91BF;
}
////////////////////////////////
// MyAccount.html Page Styles //
////////////////////////////////
#myAccountPage {
  @extend %reset-all-space;
}

#myAccountPage h2 {
  margin: 0 0 0 0;
}

#settingsList {
  width: 100%;
  margin: -1rem 0 6rem -4rem;

  li {
    width: calc(100% + 40px);
    text-transform: capitalize;
    text-align: left;
    list-style: none;
    padding: 2rem 0 2rem 1.5rem;
    border-bottom: 1px solid black;

    span {
      float: right;
      margin: -1rem 1.5rem 0 0;
    }
  }
}


//////////////////////////////
// Contact.html Page Styles //
//////////////////////////////
#contactPage .container-fluid h2 {
  width: 100%;
  margin: 0 0 0 0;
  @extend %remove-bootstrap-side-padding;

}

#contactPage .container-fluid h3 {
  width: 100%;
  margin: 0 0 0 0;
  @extend %remove-bootstrap-side-padding;

}

#contactUs {
  padding-bottom: 25px;

  p {
    text-align: left;
    margin-top: 1.5rem;
  }
}

#contactPage h3 {
  background: #4D91BF;
  color: #FFF;
  padding: 2rem 0;
  margin: -4.5rem -1.5rem 1.5rem -1.5rem;
  @extend %remove-bootstrap-side-padding;
}

#contactPage label, #contactPage input {
  display: block;
  height: 45px;

}

#contactPage input {
  margin-bottom: 1.5rem;
}

#contactPage label {
  text-align: left;

  span {
    font-size: 20px;
    color: #CC1600;
  }
}

////////////////////////////////////////
// This style is for the valid fields //
////////////////////////////////////////
#contactPage input:focus:required:invalid {
  background: #ffbfbf;
  border-color: #900;
  outline: none; }

#contactPage input:focus:invalid {
  outline: none; }

#contactPage input:focus:valid {
  background: #dff0d8;
  border-color: #2ecc71; }

#contactPage input:valid {
  border-color: #2ecc71;
  background-color: #dff0d8; }

#contactPage input:focus:valid {
  outline: none; }

.error {
  color: $error-accent;
  line-height: 1.2;
  margin: 5px auto;
}

#contactBtns {
  margin: 2rem 0;
}

//////////////////
// Footer Style //
//////////////////
footer {
  text-align: center;
  padding: 2rem 0;
  border-top: 3px solid #000;
  font-size: 20px;
}
